version: '3.9'

services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/wallet

  frontend:
    build: ./frontend
    ports:
      - "3001:3001"
